In [1]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import matplotlib.pyplot as plt
import pandas as pd
#from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# browser = Browser('chrome')
#executable_path = {'executable_path': ChromeDriverManager().install()}
#browser = Browser('chrome', **executable_path, headless=False)
browser = Browser('chrome')

In [3]:
# Visit the website
url = "https://www.usgs.gov/programs/earthquake-hazards/lists-maps-and-statistics"
browser.visit(url)

In [4]:
# Create a Beautiful Soup Object
html = browser.html

soup = soup(html, 'html.parser')

In [5]:
# Extract earthquake results 2000-2021
earth_2000= soup.find('table')
print (earth_2000)

<table>
<thead>
<tr>
<th>Magnitude</th>
<th>2000</th>
<th>2001</th>
<th>2002</th>
<th>2003</th>
<th>2004</th>
<th>2005</th>
<th>2006</th>
<th>2007</th>
<th>2008</th>
<th>2009</th>
<th>2010</th>
<th>2011</th>
<th>2012</th>
<th>2013</th>
<th>2014</th>
<th>2015</th>
<th>2016</th>
<th>2017</th>
<th>2018</th>
<th>2019</th>
<th>2020</th>
<th>2021</th>
</tr>
</thead>
<tbody>
<tr>
<th>8.0+</th>
<td>1</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td>2</td>
<td>1</td>
<td>2</td>
<td>4</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>2</td>
<td>2</td>
<td>1</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>0</td>
<td>3</td>
</tr>
<tr>
<th>7–7.9</th>
<td>14</td>
<td>15</td>
<td>13</td>
<td>14</td>
<td>14</td>
<td>10</td>
<td>9</td>
<td>14</td>
<td>12</td>
<td>16</td>
<td>23</td>
<td>19</td>
<td>12</td>
<td>17</td>
<td>11</td>
<td>18</td>
<td>16</td>
<td>6</td>
<td>16</td>
<td>9</td>
<td>9</td>
<td>16</td>
</tr>
<tr>
<th>6–6.9</th>
<td>146</td>
<td>121</td>
<td>127</td>
<td>140</td>
<td>141</td>
<td>140</td>
<td>142</td>
<td>178</td>
<td>168</td>
<td>144</td>
<td>150</td>
<td>185</td>
<td>108</td>
<td>123</td>
<td>143</td>
<td>127</td>
<td>130</td>
<td>104</td>
<td>117</td>
<td>135</td>
<td>112</td>
<td>140</td>
</tr>
<tr>
<th>5–5.9</th>
<td>1344</td>
<td>1224</td>
<td>1201</td>
<td>1203</td>
<td>1515</td>
<td>1693</td>
<td>1712</td>
<td>2074</td>
<td>1768</td>
<td>1896</td>
<td>2209</td>
<td>2276</td>
<td>1401</td>
<td>1453</td>
<td>1574</td>
<td>1419</td>
<td>1550</td>
<td>1455</td>
<td>1674</td>
<td>1492</td>
<td>1312</td>
<td>2047</td>
</tr>
<tr>
<th>Estimated<br/>
			Deaths</th>
<td>231</td>
<td>21357</td>
<td>1685</td>
<td>33819</td>
<td>298101</td>
<td>87992</td>
<td>6605</td>
<td>708</td>
<td>88708</td>
<td>1790</td>
<td>226050</td>
<td>21942</td>
<td>689</td>
<td>1572</td>
<td>756</td>
<td>9624</td>
<td>1297</td>
<td>1012</td>
<td>4535</td>
<td>244</td>
<td>not avail</td>
<td>not avail</td>
</tr>
</tbody>
</table>

In [49]:
# empty list
#data = []

# for getting the header from
# the HTML file
#list_header = []
for i in range(4):
    if i ==1:
        table1 = soup.find_all("table")[i]
    elif i==2:
        table2 = soup.find_all("table")[i]

In [50]:
# second table 1990-1999 data
table2

<table>
<thead>
<tr>
<th>Magnitude</th>
<th>1990</th>
<th>1991</th>
<th>1992</th>
<th>1993</th>
<th>1994</th>
<th>1995</th>
<th>1996</th>
<th>1997</th>
<th>1998</th>
<th>1999</th>
</tr>
</thead>
<tbody>
<tr>
<th>8+</th>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>2</td>
<td>2</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td>0</td>
</tr>
<tr>
<th>7–7.9</th>
<td>18</td>
<td>16</td>
<td>13</td>
<td>12</td>
<td>11</td>
<td>18</td>
<td>14</td>
<td>16</td>
<td>11</td>
<td>18</td>
</tr>
<tr>
<th>6–6.9</th>
<td>109</td>
<td>96</td>
<td>166</td>
<td>137</td>
<td>146</td>
<td>183</td>
<td>149</td>
<td>120</td>
<td>117</td>
<td>116</td>
</tr>
<tr>
<th>5–5.9</th>
<td>1617</td>
<td>1457</td>
<td>1498</td>
<td>1426</td>
<td>1542</td>
<td>1318</td>
<td>1222</td>
<td>1113</td>
<td>979</td>
<td>1104</td>
</tr>
<tr>
<th>Estimated<br/>
			Deaths</th>
<td>52056</td>
<td>3210</td>
<td>3920</td>
<td>10096</td>
<td>1634</td>
<td>7980</td>
<td>589</td>
<td>3069</td>
<td>9430</td>
<td>22662</td>
</tr>
</tbody>
</table>

In [62]:
# Create a Pandas DataFrame for 1990-1999
table2_headers = ['1990','1991','1992','1993','1994','1995','1996','1997','1998','1999']
table2_data = pd.DataFrame(columns = table2_headers)

for data in table2.find_all('tbody'):
    rows = data.find_all('tr')

for row in rows:
    table_data = row.find_all('td')
    row_data=[td.text.strip() for td in table_data]
    lenghth=len(table2_data)
    table2_data.loc[lenghth]=row_data
    
table2_data

    1990  1991  1992   1993  1994  1995  1996  1997  1998   1999
0      0     0     0      0     2     2     1     0     1      0
1     18    16    13     12    11    18    14    16    11     18
2    109    96   166    137   146   183   149   120   117    116
3   1617  1457  1498   1426  1542  1318  1222  1113   979   1104
4  52056  3210  3920  10096  1634  7980   589  3069  9430  22662

In [63]:
# Creat a Pandas Dataframe for 2000-2021 data
table1_headers = ['2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']
table1_data = pd.DataFrame(columns = table1_headers)

for data in earth_2000.find_all('tbody'):
    rows = data.find_all('tr')

for row in rows:
    table_data = row.find_all('td')
    row_data=[td.text.strip() for td in table_data]
    lenghth=len(table1_data)
    table1_data.loc[lenghth]=row_data
    
table1_data

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,1,0,1,2,1,2,4,0,1,...,2,2,1,1,0,1,1,1,0,3
1,14,15,13,14,14,10,9,14,12,16,...,12,17,11,18,16,6,16,9,9,16
2,146,121,127,140,141,140,142,178,168,144,...,108,123,143,127,130,104,117,135,112,140
3,1344,1224,1201,1203,1515,1693,1712,2074,1768,1896,...,1401,1453,1574,1419,1550,1455,1674,1492,1312,2047
4,231,21357,1685,33819,298101,87992,6605,708,88708,1790,...,689,1572,756,9624,1297,1012,4535,244,not avail,not avail

In [64]:
# Merge two tables
combined_data = pd.concat([table2_data, table1_data], axis=1, join='inner')
combined_data

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,0,0,0,0,2,2,1,0,1,0,...,2,2,1,1,0,1,1,1,0,3
1,18,16,13,12,11,18,14,16,11,18,...,12,17,11,18,16,6,16,9,9,16
2,109,96,166,137,146,183,149,120,117,116,...,108,123,143,127,130,104,117,135,112,140
3,1617,1457,1498,1426,1542,1318,1222,1113,979,1104,...,1401,1453,1574,1419,1550,1455,1674,1492,1312,2047
4,52056,3210,3920,10096,1634,7980,589,3069,9430,22662,...,689,1572,756,9624,1297,1012,4535,244,not avail,not avail

In [66]:
# Add label
label_data = ['8.0+','7-7.9','6-6.9','5-5.9','Est Deaths'] 
label_df = pd.DataFrame(label_data, columns=['Magnitude'])
combined_data = pd.concat([label_df, combined_data], axis=1, join='inner')
combined_data

,Magnitude,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,8.0+,0,0,0,0,2,2,1,0,1,...,2,2,1,1,0,1,1,1,0,3
1,7-7.9,18,16,13,12,11,18,14,16,11,...,12,17,11,18,16,6,16,9,9,16
2,6-6.9,109,96,166,137,146,183,149,120,117,...,108,123,143,127,130,104,117,135,112,140
3,5-5.9,1617,1457,1498,1426,1542,1318,1222,1113,979,...,1401,1453,1574,1419,1550,1455,1674,1492,1312,2047
4,Est Deaths,52056,3210,3920,10096,1634,7980,589,3069,9430,...,689,1572,756,9624,1297,1012,4535,244,not avail,not avail

In [67]:
browser.quit()

In [68]:
# save to No-sql database
# Import dependencies
from pymongo import MongoClient

In [71]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [76]:
# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'config', 'earth_quake', 'local']

In [74]:
#create a db for earthquake
db = mongo['earth_quake']

['admin', 'config', 'local']

In [77]:
# review the collections in our new database
print(db.list_collection_names())

['earthquake_1990_2021']

In [78]:
# assign the collection to a variable
earthquake_data = db['earthquake_1990_2021']

In [82]:
#convert data frame to json
import json
records = json.loads(combined_data.to_json(orient='records'))
records

[{'Magnitude': '8.0+',
  '1990': '0',
  '1991': '0',
  '1992': '0',
  '1993': '0',
  '1994': '2',
  '1995': '2',
  '1996': '1',
  '1997': '0',
  '1998': '1',
  '1999': '0',
  '2000': '1',
  '2001': '1',
  '2002': '0',
  '2003': '1',
  '2004': '2',
  '2005': '1',
  '2006': '2',
  '2007': '4',
  '2008': '0',
  '2009': '1',
  '2010': '1',
  '2011': '1',
  '2012': '2',
  '2013': '2',
  '2014': '1',
  '2015': '1',
  '2016': '0',
  '2017': '1',
  '2018': '1',
  '2019': '1',
  '2020': '0',
  '2021': '3'},
 {'Magnitude': '7-7.9',
  '1990': '18',
  '1991': '16',
  '1992': '13',
  '1993': '12',
  '1994': '11',
  '1995': '18',
  '1996': '14',
  '1997': '16',
  '1998': '11',
  '1999': '18',
  '2000': '14',
  '2001': '15',
  '2002': '13',
  '2003': '14',
  '2004': '14',
  '2005': '10',
  '2006': '9',
  '2007': '14',
  '2008': '12',
  '2009': '16',
  '2010': '23',
  '2011': '19',
  '2012': '12',
  '2013': '17',
  '2014': '11',
  '2015': '18',
  '2016': '16',
  '2017': '6',
  '2018': '16',
  '2019': '9',
  '2020': '9',
  '2021': '16'},
 {'Magnitude': '6-6.9',
  '1990': '109',
  '1991': '96',
  '1992': '166',
  '1993': '137',
  '1994': '146',
  '1995': '183',
  '1996': '149',
  '1997': '120',
  '1998': '117',
  '1999': '116',
  '2000': '146',
  '2001': '121',
  '2002': '127',
  '2003': '140',
  '2004': '141',
  '2005': '140',
  '2006': '142',
  '2007': '178',
  '2008': '168',
  '2009': '144',
  '2010': '150',
  '2011': '185',
  '2012': '108',
  '2013': '123',
  '2014': '143',
  '2015': '127',
  '2016': '130',
  '2017': '104',
  '2018': '117',
  '2019': '135',
  '2020': '112',
  '2021': '140'},
 {'Magnitude': '5-5.9',
  '1990': '1617',
  '1991': '1457',
  '1992': '1498',
  '1993': '1426',
  '1994': '1542',
  '1995': '1318',
  '1996': '1222',
  '1997': '1113',
  '1998': '979',
  '1999': '1104',
  '2000': '1344',
  '2001': '1224',
  '2002': '1201',
  '2003': '1203',
  '2004': '1515',
  '2005': '1693',
  '2006': '1712',
  '2007': '2074',
  '2008': '1768',
  '2009': '1896',
  '2010': '2209',
  '2011': '2276',
  '2012': '1401',
  '2013': '1453',
  '2014': '1574',
  '2015': '1419',
  '2016': '1550',
  '2017': '1455',
  '2018': '1674',
  '2019': '1492',
  '2020': '1312',
  '2021': '2047'},
 {'Magnitude': 'Est Deaths',
  '1990': '52056',
  '1991': '3210',
  '1992': '3920',
  '1993': '10096',
  '1994': '1634',
  '1995': '7980',
  '1996': '589',
  '1997': '3069',
  '1998': '9430',
  '1999': '22662',
  '2000': '231',
  '2001': '21357',
  '2002': '1685',
  '2003': '33819',
  '2004': '298101',
  '2005': '87992',
  '2006': '6605',
  '2007': '708',
  '2008': '88708',
  '2009': '1790',
  '2010': '226050',
  '2011': '21942',
  '2012': '689',
  '2013': '1572',
  '2014': '756',
  '2015': '9624',
  '2016': '1297',
  '2017': '1012',
  '2018': '4535',
  '2019': '244',
  '2020': 'not avail',
  '2021': 'not avail'}]

In [90]:
#save json to collection
earthquake_data.insert_many(records)

In [91]:
earthquake_data.find_one({'Magnitude': '5-5.9'})

{'_id': ObjectId('64d9207a833b22ea80654ea9'),
 'Magnitude': '5-5.9',
 '1990': '1617',
 '1991': '1457',
 '1992': '1498',
 '1993': '1426',
 '1994': '1542',
 '1995': '1318',
 '1996': '1222',
 '1997': '1113',
 '1998': '979',
 '1999': '1104',
 '2000': '1344',
 '2001': '1224',
 '2002': '1201',
 '2003': '1203',
 '2004': '1515',
 '2005': '1693',
 '2006': '1712',
 '2007': '2074',
 '2008': '1768',
 '2009': '1896',
 '2010': '2209',
 '2011': '2276',
 '2012': '1401',
 '2013': '1453',
 '2014': '1574',
 '2015': '1419',
 '2016': '1550',
 '2017': '1455',
 '2018': '1674',
 '2019': '1492',
 '2020': '1312',
 '2021': '2047'}