In [29]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
import matplotlib.pyplot as plt
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [33]:
# browser = Browser('chrome')
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [34]:
# Visit the website
url = "https://www.usgs.gov/programs/earthquake-hazards/lists-maps-and-statistics"
browser.visit(url)

In [35]:
# Create a Beautiful Soup Object
html = browser.html

soup = soup(html, 'html.parser')

In [36]:
# Extract earthquake results 2000-2021
earth_2000= soup.find('table')
print (earth_2000)

<table>
<thead>
<tr>
<th>Magnitude</th>
<th>2000</th>
<th>2001</th>
<th>2002</th>
<th>2003</th>
<th>2004</th>
<th>2005</th>
<th>2006</th>
<th>2007</th>
<th>2008</th>
<th>2009</th>
<th>2010</th>
<th>2011</th>
<th>2012</th>
<th>2013</th>
<th>2014</th>
<th>2015</th>
<th>2016</th>
<th>2017</th>
<th>2018</th>
<th>2019</th>
<th>2020</th>
<th>2021</th>
</tr>
</thead>
<tbody>
<tr>
<th>8.0+</th>
<td>1</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td>2</td>
<td>1</td>
<td>2</td>
<td>4</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>2</td>
<td>2</td>
<td>1</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>0</td>
<td>3</td>
</tr>
<tr>
<th>7–7.9</th>
<td>14</td>
<td>15</td>
<td>13</td>
<td>14</td>
<td>14</td>
<td>10</td>
<td>9</td>
<td>14</td>
<td>12</td>
<td>16</td>
<td>23</td>
<td>19</td>
<td>12</td>
<td>17</td>
<td>11</td>
<td>18</td>
<td>16</td>
<td>6</td>
<td>16</td>
<td>9</td>
<td>9</td>
<td>16</td>
</tr>
<tr>
<th>6–6.9</th>
<td>146</td>
<td>121</td>
<td>127</td>
<td>140</td>
<td>141</td>
<td>140</td>
<td>142</td>
<td>178</td>
<td>168</td>
<td>144</td>
<td>150</td>
<td>185</td>
<td>108</td>
<td>123</td>
<td>143</td>
<td>127</td>
<td>130</td>
<td>104</td>
<td>117</td>
<td>135</td>
<td>112</td>
<td>140</td>
</tr>
<tr>
<th>5–5.9</th>
<td>1344</td>
<td>1224</td>
<td>1201</td>
<td>1203</td>
<td>1515</td>
<td>1693</td>
<td>1712</td>
<td>2074</td>
<td>1768</td>
<td>1896</td>
<td>2209</td>
<td>2276</td>
<td>1401</td>
<td>1453</td>
<td>1574</td>
<td>1419</td>
<td>1550</td>
<td>1455</td>
<td>1674</td>
<td>1492</td>
<td>1312</td>
<td>2047</td>
</tr>
<tr>
<th>Estimated<br/>
			Deaths</th>
<td>231</td>
<td>21357</td>
<td>1685</td>
<td>33819</td>
<td>298101</td>
<td>87992</td>
<td>6605</td>
<td>708</td>
<td>88708</td>
<td>1790</td>
<td>226050</td>
<td>21942</td>
<td>689</td>
<td>1572</td>
<td>756</td>
<td>9624</td>
<td>1297</td>
<td>1012</td>
<td>4535</td>
<td>244</td>
<td>not avail</td>
<td>not avail</td>
</tr>
</tbody>
</table>

In [43]:
# empty list
#data = []

# for getting the header from
# the HTML file
#list_header = []
for i in range(4):
    if i ==1:
        table1 = soup.find_all("table")[i]
    elif i==3:
        table2 = soup.find_all("table")[i]

In [44]:
# second table 1990-1999 data
table2

<table>
<thead>
<tr>
<th>Magnitude</th>
<th>1990</th>
<th>1991</th>
<th>1992</th>
<th>1993</th>
<th>1994</th>
<th>1995</th>
<th>1996</th>
<th>1997</th>
<th>1998</th>
<th>1999</th>
</tr>
</thead>
<tbody>
<tr>
<th>8+</th>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>
<tr>
<th>7–7.9</th>
<td>0</td>
<td>1</td>
<td>2</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>1</td>
</tr>
<tr>
<th>6–6.9</th>
<td>2</td>
<td>4</td>
<td>15</td>
<td>9</td>
<td>4</td>
<td>6</td>
<td>4</td>
<td>6</td>
<td>3</td>
<td>6</td>
</tr>
<tr>
<th>5–5.9</th>
<td>64</td>
<td>49</td>
<td>72</td>
<td>62</td>
<td>64</td>
<td>45</td>
<td>100</td>
<td>63</td>
<td>62</td>
<td>50</td>
</tr>
</tbody>
</table>

In [45]:
# Creat a Pandas Dataframe for 2000-2021 data

[]

In [ ]:
# Create a Pandas DataFrame for 1990-1999

In [ ]:
# Confirm DataFrame was created successfully

In [ ]:
# Examine data type of each column

In [ ]:
# save to sql database

In [ ]:
browser.quit()